.paragraph_external{
	color: yellow;
}

* {
	font-family: unset;
	font-size: medium;
}

h1 {
	font-size: xx-large;
}

#heading2{
	text-transform: uppercase;
}

.languages {
	background-color: mediumseagreen;
}


#border[target=_blank] {
    border-style: solid;
    border-color: lightblue;
}

section[other] span {
	margin-left: 35px;
	letter-spacing: 3px;
}


body > main > section> h3[other]  {
	letter-spacing: 1px;
}

im